<% provide(:title,"Lvup") %>

<div class="lvupeffectpage">
    <canvas id="canvas"></canvas>
    <h1><span class="red">L</span><span class="blue">E</span><span class="green">V</span><span class="orange">E</span><span class="red">L</span><span class="blue">U</span><span class="green">P</span><span class="red">!</span></h1>
    <canvas id="canvas"></canvas>
</div>


