<h1>パスワードリセット</h1>

<p>パスワードをリセットするには下記のリンクをクリックして下さい。</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの有効期限は２時間です。</p>

<p>
もしもパスワードをリセットしない場合、このメールは無視して下さい。
あなたのパスワードは変更されません。
</p>
