@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

* {
  box-sizing: border-box;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  // font-size: 8vw!important;
  @media screen and (max-width: 500px) {
    font-size: 8vw!important;
  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  // font-size: 3vw;
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }
}

a {
  // font-size: 3vw;//test
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }
}

span {
  // font-size: 3vw;//test
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }
}

label {
  // font-size: 3vw;
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }
}

b {
  // font-size: 3vw;
  @media screen and (max-width: 500px) {
    font-size: 3vw;
  }
}

h3 {
  font-weight: bold;
}


/* header */
nav {
  a {
    // font-size: 1.5vw!important;
    @media screen and (max-width: 500px) {
      font-size: 1.5vw!important;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }

  @media screen and (max-width: 760px) {
    margin-left: 20px;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  // font-size: 2vw!important;
  @media screen and (max-width: 500px) {
    font-size: 2vw!important;
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
    // font-size: 2vw!important;
    @media screen and (max-width: 500px) {
      font-size: 2vw!important;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      // font-size: 5vw!important;//test
      @media screen and (max-width: 500px) {
        font-size: 5vw!important;
      }
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  // font-size: 3vw!important;//test
  // height: 200%!important;//test
  @media screen and (max-width: 500px) {
    font-size: 3vw!important;
    height: 200%!important;
  }

}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    // padding: 50px 0;//test
    @media screen and (max-width: 500px) {
      padding: 50px 0;
    }
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  img {
    // width: 13vw;//test
    @media screen and (max-width: 500px) {
      width: 13vw;
    }
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
      
    }



  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
    @media screen and (max-width: 500px) {
      height: 200px;
    }
  }
  img {
    // width: 13vw;//test
    @media screen and (max-width: 500px) {
      width: 13vw;
    }
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.bg_skew_border{
    background-color: #EEEEEE;
    background-image:
	 repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);
}

.white {
  background-color: white;
}

.profession-edit {
  height: 20vw;
}

.adventure {
  width: 100%;
}

.top {

  background-image: image-url('adventure.jpg');
  background-size: contain;
  padding-bottom: 20vw;
  width: 100%;

  .topmessage {
    padding-top: 30vh;
    height: 90vh;
    @media screen and (max-width: 500px) {
      padding-top: 40vh;
      height: 100vh;
      display: block;
    }
  }

  section {
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
    background-color: white;
    display: block;
    width: 100vw;
    background-size: cover;
    margin: 0 calc(50% - 50vw);
    @media screen and (max-width: 500px) {
      padding-top: 25vh;
      height: 60vh;  
      display: block;
    }

    h2 {
      font-size: 6vw;
      font-weight: bold;
    }

    p {
      font-size: 3vw;
      color: black;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  h1 {
    color: white;
    font-weight: bold;
    font-size: 5vw;
    // margin-top: 5vw;
    // margin-bottom: 5vw;

  }

  .main-h1 {
    // margin-top: 15vw;
    // margin-bottom: 12vw;
    color: white;
    font-weight: bold;
    font-size: 7vw;
  }

  .signup-btn {
    margin-bottom: 80px;
  }

  .homeex {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: dashed 2px black; 
    background-color:rgba(196,196,196,0.8);
    
    h2 {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .homeskil {
    li {
    font-size: 20px;
    }
    margin-bottom: 60px;
  }

  .mb {
    margin-bottom: 30px;
  }

}

.top-image {
  padding-top: 40px;
  margin-top: 100px;
  margin-bottom: 40px;
}

/* フェードイン用のCSS */
.slide-bottom {
   opacity: 0;
   transform: translateY(20px);
   transition: all 1.3s 0s ease-out;
 }

  /* 左からフェードイン */
.slide-left {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: all 1s ease-out;
 }

/* 右からフェードイン */
.slide-right {
	opacity: 0;
	transform: translate(20px, 0);
	transition: all 1s ease-out;
 }

.lvupeffect {
}

.lvupeffectpage {
  background-color: white;
  padding-bottom: 20vh;
  position: relative;
   h1 {
     position: absolute;
     top: 10%;
     left: 5%;
     font-size: 17vw!important;
     font-weight: bold;
     @media screen and (max-width: 500px) {
      font-size: 15vw!important;
    }
   }
  

}



.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}


canvas {

  width: 100%;
  height: 100vh;
}
